.login-layout {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/black-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}