.container {
    position: relative;
    background-color: rgb(245, 245, 245);
    font-family: "Nunito", sans-serif;
    width : 800px;
    height: 520px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.6s ease, width 0.6s ease, height 0.6s ease;
}

@media (max-width: 1000px) {
    .container {
        width: 600px;
        height: 500px;
    }
}

@media (max-width: 700px) {
    .container {
        width: 450px;
    }
}

@media (max-width: 550px) {
    .container {
        width: 350px;
    }
}

/*Overlayer*/

.overlayer {
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #19850B;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    transition: transform 0.6s ease;
    z-index: 10;
}

.overlayer.go-to-left {
    transform: translateX(-100%);
}

/*Sign In & Sign Up forms*/

.form-container {
    width: 50%;
    height: 100%;
    position: absolute;
    align-content: center;
    opacity: 100%;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.form-container.sign-up-container {
    opacity: 0;
}

.form-container.sign-up-container.move-right {
    transform: translateX(100%);
    z-index: 3;
    opacity: 1;
}

.form-container.sign-in-container {
    right: 0%;
    z-index: 2;
    opacity: 0;
}

.form-container.sign-in-container.move-left {
    transform: translateX(-100%);
    opacity: 1;
}

/*Buttons*/

.container button {
    background-color: #19850B;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    text-align: center;
    cursor:pointer;
    letter-spacing: 1px;
    padding: 12px 45px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}

@media (max-width: 700px) {
    .container button {
        width: 100px;
        padding: 10px 20px;
        font-size: 12px;
    }
}

.container button:hover {
    background-color:rgb(47, 163, 47);
    transition-duration: 0.3s;
}

.container button:active {
    transform: scale(0.95);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), 0 0 5px ;
}

#sign-up-button {
    margin: auto;
}

/*Inputs*/

.input {
  background-color: #dedede;
  border: none;
  padding: 6px 20px;
  width: 80%;
}

.input:hover {
    background-color: #d0d0d0;
}