.button-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

a,h2 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  color: inherit; 
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: none;
}