#primary {
    position: relative;
    width: 170px;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(235, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border: red 1px solid;
    box-shadow: inset 0 0 0 red, 0 0 30px rgb(190, 23, 23);
     transition: color 0.3s ease, border-color 0.3s ease;
     overflow: hidden;
     z-index: 0;

}

#primary:hover {
    color: rgb(255, 0, 0);
}

#primary::before {
  content: "";
  position: absolute;
  left: 0;
  top: -100%; /* Başta görünmesin */
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: -1;
  transition: top 0.4s ease;
}

#primary:hover::before {
  top: 0; /* Hover olunca arka plan içeri kayar */
}